<!--toolbar en haut de page avec titre -->
<mat-toolbar color="primary">
  <mat-toolbar-row class="flex">
    <!-- Titre -->
    <span>Projet demandé</span>
    <!-- Espacement -->
    <span class="stretch"></span>
    <!-- Menu -->
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/even_odd']">
        Item 1
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!-- directive router-outlet afin de permettre a l'application ou afficher les composants-->
<router-outlet></router-outlet>
